.real-wrapper{
    padding: 2rem 0.3rem;
}
.real-wrapper .pure-control-group label{
    float: left;
    vertical-align: middle;
    width: 5.5rem;
    margin-right: 0.5rem;
}

.real-wrapper .pure-control-group input{ width: calc(100% - 6.2rem);}
.real-wrapper .forge-input{
    width: calc(100% - 6.2rem);
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.23rem;
    position: relative;
}
.real-wrapper .forge-input span{
    height: 1.5rem;
    width: calc(100% - 1.6rem);
    display: inline-block;
    line-height: 1.5rem;
    float: lefth;
}
.real-wrapper .forge-input .ui-icon-camera{
    line-height: 1.5rem;
}
.real-wrapper .forge-input input[type="file"]{
    position: absolute;
    width: 1.6rem;
    height: 2.2rem;
    opacity: 0;
    top: 0;
}

.real-wrapper .add-file-item,
.real-wrapper .file-item{
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 18.75rem;
    height: 18.75rem;
    border: 2px solid #d7d7d7;
    font-size: 0;
    text-align: center;
}

.real-wrapper .add-file-item:before,
.real-wrapper .add-file-item:after{
    display: block;
    background-color: #dcdcdc;
    content: '\20';
    margin: 0 auto;
    vertical-align: middle;
}

.real-wrapper .add-file-item:before{
    width: 9.37rem;
    height: 3px;
    margin-top: 9.3rem;
}
.real-wrapper .add-file-item:after{
    width: 3px;
    height: 9.37rem;
    margin-top: -4.65rem;
}

.real-wrapper .add-file-item .inp-file{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.real-wrapper .file-item .upload-img{
    width: 100%;
    height: 100%;
}

.real-wrapper .file-item .delete-img{
    position: absolute;
    z-index: 2;
    top: 0.187rem;
    right: 0.187rem;
    width: 1.38rem;
    height: 1.38rem;
    background: rgba(0,0,0,.5);
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.real-wrapper .file-item .delete-img:after{
    background-image: url(http://pic.c-ctrip.com/h5/hotel_affiliate/un_process.png);
    background-repeat: no-repeat;
    background-size: 25px auto;
    display: block;
    content: '\20';
    width: 0.75rem;
    height: 0.87rem;
    margin: 4px auto 0;
    background-position: 0 -169px;
}

.real-wrapper .file-item .ico_saving{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px 0 0 -9px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: circling .5s linear infinite;
    -moz-animation: circling .5s linear infinite;
    -o-animation: circling .5s linear infinite;
    animation: circling .5s linear infinite;
}

@-webkit-keyframes circling {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@media only screen and (max-width: 480px){
    .real-wrapper .forge-input{
        margin-bottom: .3em;
    }
}