html{
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}
body {
    min-width: 320px;
    background: #fff;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-user-select: none;
    color: #000;
    margin: 0;
    line-height: 1.5;
    height: 100%;
    font-size: 16px;
}

header{position: fixed;top: 0;left: 0;z-index: 9999;width: 100%;height: 2.75rem;}

#main{height: 100%}
.ui-headerview{z-index: 2000; height: 2.75rem; width: 100%;}
.main-viewport{position: relative; height: 100%;}
.sub-viewport { margin-bottom: 1.25rem;  position: relative; overflow-x: hidden; min-height: 100%;}
.fl{float: left;}
.fr{float: right;}
.hidden{display: none !important;}
.pure-g{
    letter-spacing: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{margin: 0; padding: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe {
    display: block
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
input[type="checkbox"]{height: 15px; width: 15px; vertical-align: text-top;}

.base-list{border-top: 1px solid #bcbcbc; width: 100%;}
.base-list li{
    position: relative;
    z-index: 1;
    padding: 0 1.87rem 0 6.25rem;
    border-bottom: 1px solid #bcbcbc;
    min-height: 2.68rem;
    background-color: #fff;
}
.base-list .title{
    float: left;
    width: 5.31rem;
    margin-left: -5.31rem;
    padding-top: 0.625rem;
    font-size: 15px;
    color: #333;
}

/*********  UI headerview  *********/
.ui-header-fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 80;
    background-color: #0074D9;
    font-weight: 600;
    color: #FFF;
    line-height: 3rem;
}

.ui-header-fixed h2 {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-header-fixed .ui-func-icon {
    position: absolute;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 3rem;
    cursor: pointer;
}

.ui-header-fixed .ui-func-return, .ui-header-fixed .ui-func-close {
    left: 0;
    padding-right: 5px;
}

.ui-header-fixed .ui-func-return {
    padding-left: 25px;
}
.ui-header-fixed  .ui-icon {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    overflow: hidden;
    background: url('http://simg1.qunarzz.com/site/images/wap/touch/images/v2/images2x/header_sprites_4.png') 0 0 no-repeat;
    background-size: 255px 42px;
    width: 2.62rem;
    height: 2.62rem;
}

.ui-header-fixed .ui-func-more {
    right: 0;
    width: 52px;
}

.ui-header-fixed .ui-icon.ui-more {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*********  切换动画  *********/
@-webkit-keyframes sliderightout {
    from {
        -webkit-transform: translateX(0px);
        opacity: 1
    }

    to {
        -webkit-transform: translateX(50%);
        opacity: 0
    }
}

@-webkit-keyframes slideleftin {
    from {
        -webkit-transform: translateX(-50%);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0px);
        opacity: 1
    }
}

@-webkit-keyframes slideleftout {
    from {
        -webkit-transform: translateX(0px);
        opacity: 1
    }

    to {
        -webkit-transform: translateX(-50%);
        opacity: 0
    }
}

@-webkit-keyframes sliderightin {
    from {
        -webkit-transform: translateX(50%);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0px);
        opacity: 1
    }
}

@-moz-keyframes sliderightout {
    from {
        -moz-transform: translateX(0px);
        opacity: 1
    }

    to {
        -moz-transform: translateX(50%);
        opacity: 0
    }
}

@-moz-keyframes slideleftin {
    from {
        -moz-transform: translateX(-50%);
        opacity: 0
    }

    to {
        -moz-transform: translateX(0px);
        opacity: 1
    }
}

@-moz-keyframes slideleftout {
    from {
        -moz-transform: translateX(0px);
        opacity: 1
    }

    to {
        -moz-transform: translateX(-50%);
        opacity: 0
    }
}

@-moz-keyframes sliderightin {
    from {
        -moz-transform: translateX(50%);
        opacity: 0
    }

    to {
        -moz-transform: translateX(0px);
        opacity: 1
    }
}

@keyframes sliderightout {
    from {
        transform: translateX(0px);
        opacity: 1
    }

    to {
        transform: translateX(50%);
        opacity: 0
    }
}

@keyframes slideleftin {
    from {
        transform: translateX(-50%);
        opacity: 0
    }

    to {
        transform: translateX(0px);
        opacity: 1
    }
}

@keyframes slideleftout {
    from {
        transform: translateX(0px);
        opacity: 1
    }

    to {
        transform: translateX(-50%);
        opacity: 0
    }
}

@keyframes sliderightin {
    from {
        transform: translateX(50%);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0px);
        opacity: 1
    }
}

.slideleftout {
    -webkit-animation: slideleftout 200ms ease-in-out;
    -moz-animation: slideleftout 200ms ease-in-out;
    animation: slideleftout 200ms ease-in-out
}

.slideleftin {
    -webkit-animation: slideleftin 200ms ease-in-out;
    -moz-animation: slideleftin 200ms ease-in-out;
    animation: slideleftin 200ms ease-in-out
}

.sliderightout {
    -webkit-animation: sliderightout 200ms ease-in-out;
    -moz-animation: sliderightout 200ms ease-in-out;
    animation: sliderightout 200ms ease-in-out
}

.sliderightin {
    -webkit-animation: sliderightin 200ms ease-in-out;
    -moz-animation: sliderightin 200ms ease-in-out;
    animation: sliderightin 200ms ease-in-out
}

.animatestart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow-x: hidden
}

.animatestart.sub-viewport {
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
    background-color: #f5f5f5
}

.hiddenx{ overflow-x: hidden;}
.disabled{background-color: #AAAAAA !important;}

/*********  UI toast *********/
.ui-tlayer{
    position: fixed;
    top: 45%;
    left: 50%;
    border-radius: 0.62rem;
    padding: 0.32rem;
    margin-left: -8.1rem;
    margin-top: -1.68rem;
}
.ui-toast{
    width: 13.75rem;
    line-height: 1.5rem;
    border-radius: 0.31rem;
    background: rgba(0,0,0,.7);
    padding: 0.62rem 0.93rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    word-break: break-all;
}

.ui-animate-hide{
    -webkit-animation: popshide 600ms;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}


@-webkit-keyframes popshide {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        display: none;
    }
}

.ui-animate-show{
    -webkit-animation: popsshow 600ms;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes popsshow {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: block;
    }
}


[class*='ui-icon-']:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-icon{
    font-size: 1.37rem;
    width: 1.31rem;
    height: 1.31rem;
    display: block;
}
.ui-icon-camera{width: 1.5rem; height: 1.5rem;}
.ui-icon-camera:before{
    content: "\f030";
}
/*小图标*/
@font-face {
    font-family: 'FontAwesome';
    src: url('http://libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('http://libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('http://libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('http://libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('http://libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*********  UI calendar *********/
.ui-calendar-wrap {height: 100%; }
.ui-calendar-wrap .ui-label-view{height: 1.75rem; width: 100%}
.ui-calendar-wrap .ui-label-date{
    position: fixed;
    left: 0;
    top: 2.75rem;
    width: calc(100% - 1.86rem);
    height: 1.75rem;
    line-height: 1.75rem;
    background-color: #f0f6ff;
    padding: 0 0.93rem;
    color: #666;
    font-size: 13px;

}
.ui-calendar-wrap .ui-calendar{
    width: 100%;
    padding: 0;
    font-size: 16px;
    font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.ui-calendar-wrap .ui-calendar>table{
    width: 100%;
    text-align: center;
    font-family: "microsoft yahei","Helvetica Neue Light",HelveticaNeue-Light,"Helvetica Neue",Calibri,Helvetica,Arial;
    border-collapse: collapse;
    border-spacing: 0;
}
.ui-calendar-wrap .ui-calendar>table caption{font-size: 20px;}
.ui-calendar-wrap .ui-calendar>table td{
    height: 3.5rem;
    width: 14.286%;
    -moz-transition: background .2s ease-in,color .2s ease-out;
    -webkit-transition: background .2s ease-in,color .2s ease-out;
    -o-transition: background .2s ease-in,color .2s ease-out;
    transition: background .2s ease-in,color .2s ease-out;
}
.ui-calendar-wrap .ui-calendar>table tr.ui-week td{
    color: #666;
    height: 2.25rem;
    border-bottom: 1px solid #d3d3d3;
}
.ui-calendar-wrap .ui-calendar .ui-invalid{color: #cfcfcf !important;}
.ui-calendar-wrap em, .ui-calendar-wrap i{font-style: normal; font-weight: 40px;}
.ui-calendar-tbody td{width: 14%;}
.ui-calendar-tbody td.ui-tagtd em{font-size: 12px; line-height: 1.2rem; display: block;}
.ui-calendar-tbody td.ui-tagtd i{font-size: 11px; line-height: 0.88rem; display: block;}
.ui-calendar-tbody td:nth-of-type(7n), .ui-calendar-tbody td:nth-of-type(7n+1){color: #ff902d}
.ui-calendar-wrap .ui-calendar-selected{background-color: #0074D9; color: #fff !important;}

/*********  UI mask *********/
.ui-layer .ui-mask{-webkit-animation: opacity 550mcubic-bezier(0.680,0,0.265,1);}

.ui-mask{
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2000 !important;
}

.ui-layer{
    color: #eee;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2100 !important;
    max-height: 80%;
    max-width: 80%;
    min-width: 16.25rem;
    overflow: auto;
}

.ui-layer .ui-pop-box{
    background: #fff;
    width: 17.5rem;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    z-index: 2002;
}

.ui-layer .ui-pop-box .ui-pop-hd{
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 15px;
    color: #fff;
    background: #003A6D;
    padding: 0 0.62rem;
    position: fixed;
    width: 16.25rem ;
    z-index: 2003;
}

.ui-layer .ui-pop-hd .ui-pop-close{
    position: absolute;
    width: 3.12rem;
    height: 100%;
    right: 0;
    top: 0;
}

.ui-layer .ui-pop-hdview{
    width: 100%;
    height: 2.5rem;
}

.ui-layer .ui-pop-hd .ui-top-close{
    width: 2.5rem;
    height: 2.5rem;
    float: right;
    line-height: 2.5rem;
    color: transparent;
    text-align: center;
    font-weight: 700;
    position: relative;
}

.ui-layer .ui-pop-hd .ui-top-close:before,
.ui-layer .ui-pop-hd .ui-top-close:after{
    width: 0.13rem;
    height: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -0.5rem 0 0 -0.06rem;
    background: #fff;
    content: "";
}

.ui-layer .ui-pop-hd .ui-top-close:before{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ui-layer .ui-pop-hd .ui-top-close:after{
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.ui-layer .ui-pop-bd{
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    position: relative;
    width: 100%;
}

/*********  UI bottom layer *********/
.ui-bottom-layer{
    color: #eee;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 22.5rem;
    height: 8rem;
    line-height: 8rem;
    background-color: #EFEFEF;
    z-index: 2100 !important;
    overflow: auto;
}

.ui-bottom-layer .ui-pop-box{
    margin: 1rem 0;
}

.ui-bottom-layer a{
    background-color: #fff;
    color: #099fde;
    display: block;
    height: 2.5rem;
    width: 80%;
    margin: 0.5rem 10%;
    font-weight: bolder;
}

.ui-bottom-layer a.ui-gallery{
    color: #FF851B;
}

.ui-bottom-layer .pure-button:active,
.ui-bottom-layer .pure-button:hover,
.ui-bottom-layer .pure-button:focus{
    background-image: none;
    box-shadow: none;
}

/*********  UI confirm layer *********/
.ui-bd{color: #000;}
.ui-error-tips{color: #000; padding: 20px; text-align: center;}
.ui-roller-btns {
    background: #fff;
    border-top: 1px solid #bcbcbc;
    line-height: 18px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ui-roller, .ui-roller-btns {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
}

.ui-roller-btns .ui-flexbd {
    padding: 12px 0;
    color: #099fde;
}
.ui-roller-bd, .ui-roller-btns .ui-flexbd {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.ui-roller-btns .ui-flexbd:nth-of-type(2) {
    border-left: 1px solid rgba(0,0,0,0.3);
}