@media only screen and (max-width: 320px){
   .sub-viewport .signup-wrapper{
        padding: 2rem 0.3rem;
    }
}

.signup-wrapper{
    padding: 2rem 1.87rem;
}
.signup-wrapper .pure-control-group label{
    float: left;
    vertical-align: middle;
    width: 3.5rem;
    margin-right: 1.8rem;
}
.signup-wrapper .pure-control-group label.confirm-password{
    width: 4.5rem;
    margin-right: 0.8rem;
}
.signup-wrapper .pure-control-group input{ width: 13rem;}
.signup-wrapper .security-code input{
    width: 4rem;
    float: left;
}
.signup-wrapper .security-code button{
    float: left;
    margin-left: 0.8rem;
    width: 8.321rem;
}
.signup-wrapper .pure-form  .submit-signup{margin-left: 4.12rem; width: 14.5rem; background-color: #FF851B;}
.signup-wrapper .otherway{margin-left: 4rem;}
.signup-wrapper .security-code button {
    background-color: #2ECC40;
}