html{
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}
body {
    min-width: 320px;
    background: #fff;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-user-select: none;
    color: #000;
    margin: 0;
    line-height: 1.5;
    height: 100%;
    font-size: 16px;
}

header{position: fixed;top: 0;left: 0;z-index: 9999;width: 100%;height: 2.75rem;}

#main{height: 100%}
.ui-headerview{z-index: 2000; height: 2.75rem; width: 100%;}
.main-viewport{position: relative; height: 100%;}
.sub-viewport { margin-bottom: 1.25rem;  position: relative; overflow-x: hidden; min-height: 100%;}
.fl{float: left;}
.fr{float: right;}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{margin: 0; padding: 0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe {
    display: block
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
input[type="checkbox"]{height: 15px; width: 15px; vertical-align: text-top;}

/*********  头部  *********/
.ui-header-fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 80;
    background-color: #0074D9;
    font-weight: 600;
    color: #FFF;
    line-height: 3rem;
}

.ui-header-fixed h2 {
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui-header-fixed .ui-func-icon {
    position: absolute;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 3rem;
    cursor: pointer;
}

.ui-header-fixed .ui-func-return, .ui-header-fixed .ui-func-close {
    left: 0;
    padding-right: 5px;
}

.ui-header-fixed .ui-func-return {
    padding-left: 25px;
}
.ui-header-fixed  .ui-icon {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    overflow: hidden;
    background: url('http://simg1.qunarzz.com/site/images/wap/touch/images/v2/images2x/header_sprites_4.png') 0 0 no-repeat;
    background-size: 255px 42px;
    width: 2.62rem;
    height: 2.62rem;
}



.ui-header-fixed .ui-func-more {
    right: 0;
    width: 52px;
}

.ui-header-fixed .ui-icon.ui-more {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


@-webkit-keyframes sliderightout {
    from {
        -webkit-transform: translateX(0px);
        opacity: 1
    }

    to {
        -webkit-transform: translateX(50%);
        opacity: 0
    }
}

@-webkit-keyframes slideleftin {
    from {
        -webkit-transform: translateX(-50%);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0px);
        opacity: 1
    }
}

@-webkit-keyframes slideleftout {
    from {
        -webkit-transform: translateX(0px);
        opacity: 1
    }

    to {
        -webkit-transform: translateX(-50%);
        opacity: 0
    }
}

@-webkit-keyframes sliderightin {
    from {
        -webkit-transform: translateX(50%);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0px);
        opacity: 1
    }
}

@-moz-keyframes sliderightout {
    from {
        -moz-transform: translateX(0px);
        opacity: 1
    }

    to {
        -moz-transform: translateX(50%);
        opacity: 0
    }
}

@-moz-keyframes slideleftin {
    from {
        -moz-transform: translateX(-50%);
        opacity: 0
    }

    to {
        -moz-transform: translateX(0px);
        opacity: 1
    }
}

@-moz-keyframes slideleftout {
    from {
        -moz-transform: translateX(0px);
        opacity: 1
    }

    to {
        -moz-transform: translateX(-50%);
        opacity: 0
    }
}

@-moz-keyframes sliderightin {
    from {
        -moz-transform: translateX(50%);
        opacity: 0
    }

    to {
        -moz-transform: translateX(0px);
        opacity: 1
    }
}

@keyframes sliderightout {
    from {
        transform: translateX(0px);
        opacity: 1
    }

    to {
        transform: translateX(50%);
        opacity: 0
    }
}

@keyframes slideleftin {
    from {
        transform: translateX(-50%);
        opacity: 0
    }

    to {
        transform: translateX(0px);
        opacity: 1
    }
}

@keyframes slideleftout {
    from {
        transform: translateX(0px);
        opacity: 1
    }

    to {
        transform: translateX(-50%);
        opacity: 0
    }
}

@keyframes sliderightin {
    from {
        transform: translateX(50%);
        opacity: 0
    }

    to {
        -webkit-transform: translateX(0px);
        opacity: 1
    }
}

.slideleftout {
    -webkit-animation: slideleftout 200ms ease-in-out;
    -moz-animation: slideleftout 200ms ease-in-out;
    animation: slideleftout 200ms ease-in-out
}

.slideleftin {
    -webkit-animation: slideleftin 200ms ease-in-out;
    -moz-animation: slideleftin 200ms ease-in-out;
    animation: slideleftin 200ms ease-in-out
}

.sliderightout {
    -webkit-animation: sliderightout 200ms ease-in-out;
    -moz-animation: sliderightout 200ms ease-in-out;
    animation: sliderightout 200ms ease-in-out
}

.sliderightin {
    -webkit-animation: sliderightin 200ms ease-in-out;
    -moz-animation: sliderightin 200ms ease-in-out;
    animation: sliderightin 200ms ease-in-out
}

.animatestart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow-x: hidden
}

.animatestart.sub-viewport {
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
    background-color: #f5f5f5
}

.hiddenx{ overflow-x: hidden;}
.disabled{background-color: #AAAAAA !important;}
.ui-layer{
    position: fixed;
    top: 45%;
    left: 50%;
    border-radius: 0.62rem;
    padding: 0.32rem;
    margin-left: -8.1rem;
    margin-top: -1.68rem;
}
.ui-toast{
    width: 13.75rem;
    line-height: 1.5rem;
    border-radius: 0.31rem;
    background: rgba(0,0,0,.7);
    padding: 0.62rem 0.93rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    word-break: break-all;
}

.ui-animate-hide{
    -webkit-animation: popshide 600ms;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}


@-webkit-keyframes popshide {
    from {
        opacity: 1
    }

    to {
        opacity: 0;
        display: none;
    }
}

.ui-animate-show{
    -webkit-animation: popsshow 600ms;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes popsshow {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: block;
    }
}


[class*='ui-icon-']:before {
    display: inline-block;
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ui-icon{
    font-size: 1.37rem;
    width: 1.31rem;
    height: 1.31rem;
    display: block;
}
.ui-icon-camera{width: 1.5rem; height: 1.5rem;}
.ui-icon-camera:before{
    content: "\f030";
}
/*小图标*/
@font-face {
    font-family: 'FontAwesome';
    src: url('http://libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('http://libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('http://libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('http://libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('http://libs.baidu.com/fontawesome/4.1.0/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}