.addcar-wrapper{
    padding: 2rem 0.3rem;
}
.addcar-wrapper .pure-control-group label{
    float: left;
    vertical-align: middle;
    width: 5.5rem;
    margin-right: 0.5rem;
}

.addcar-wrapper .pure-control-group input{ width: calc(100% - 6.2rem);}
.addcar-wrapper .forge-input{
    width: calc(100% - 6.2rem);
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2.23rem;
    position: relative;
}
.addcar-wrapper .forge-input span{
    height: 1.5rem;
    width: calc(100% - 1.6rem);
    display: inline-block;
    line-height: 1.5rem;
    float: lefth;
}
.addcar-wrapper .forge-input .ui-icon-camera{
    line-height: 1.5rem;
}
.addcar-wrapper .forge-input input[type="file"]{
    position: absolute;
    width: 1.6rem;
    height: 2.2rem;
    opacity: 0;
    top: 0;
}

.addcar-wrapper label{color: #666;}

.addcar-wrapper .dropdown{
    font-size: 13px;
    width: calc((100% - 7rem) / 2);
    padding: 0;
    text-align: center;
    height: 2rem;
}
.addcar-wrapper .dropdown:first-child{
    margin-right: 1rem;
}

.addcar-wrapper .dropdown option:first-child{ color: #aaa;}

.addcar-wrapper .dropdown:after{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-left: 5px;
    overflow: hidden;
    content: '\20';
    font-size: 15px;
    box-shadow: inset 2px -2px 0 #099fde;
}

.addcar-wrapper .time .time-span{ height: 1.6rem; line-height: 1.6rem; float: right; padding-right: 1.4rem; width: auto; margin-top: -0.25rem; color: #099FDE;}

.addcar-wrapper .time:after{
    content: ' ';
    position: absolute;
    top: 50%;
    right: 8px;
    background: url(http://simg1.qunarzz.com/site/images/wap/touch/images/v2/images2x/arrow_grey_sprites.png) 0 0 no-repeat;
    width: 9px;
    height: 14px;
    margin-top: -7px;
    background-size: 500% 100%;
    background-position: -9px 0;
}

.addcar-wrapper .add-file-item{
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 18.75rem;
    height: 18.75rem;
    border: 2px solid #d7d7d7;
    font-size: 0;
    text-align: center;
}

.addcar-wrapper .add-file-item:before,
.addcar-wrapper .add-file-item:after{
    display: block;
    background-color: #dcdcdc;
    content: '\20';
    margin: 0 auto;
    vertical-align: middle;
}

.addcar-wrapper .add-file-item:before{
    width: 9.37rem;
    height: 3px;
    margin-top: 9.3rem;
}
.addcar-wrapper .add-file-item:after{
    width: 3px;
    height: 9.37rem;
    margin-top: -4.65rem;
}

.addcar-wrapper .add-file-item .inp-file{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.addcar-wrapper .add-file-item .upload-img{
    width: 100%;
    height: 100%;
}

.addcar-wrapper .add-file-item .delete-img{
    position: absolute;
    z-index: 2;
    top: 0.187rem;
    right: 0.187rem;
    width: 1.38rem;
    height: 1.38rem;
    background: rgba(0,0,0,.5);
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.addcar-wrapper .add-file-item .delete-img:after{
    background-image: url(http://pic.c-ctrip.com/h5/hotel_affiliate/un_process.png);
    background-repeat: no-repeat;
    background-size: 25px auto;
    display: block;
    content: '\20';
    width: 0.75rem;
    height: 0.87rem;
    margin: 4px auto 0;
    background-position: 0 -169px;
}

@media only screen and (max-width: 480px){
    .addcar-wrapper .forge-input{
        margin-bottom: .3em;
    }
}
